In [1]:
import websocket   # pip install websocket-client
import json
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///COINS.db')  # creating sqlite engine with COINS database

In [3]:
# Binance endpoint for array of all symbols prices, 
# every time the price changes - the tick comes via web socket:

endpoint = 'wss://stream.binance.com:9443/ws/!miniTicker@arr'

In [22]:
def on_message(ws, message):
    # global out
    out = json.loads(message)
    # print(out)
    # importing the "out" data to the DB
    df_import(out)

# creating a websocket, with endpoint and on_message function:
ws = websocket.WebSocketApp(endpoint, on_message=on_message)
ws.run_forever()

False

In [7]:
pd.DataFrame(out)

,e,E,s,c,o,h,l,v,q
0,24hrMiniTicker,1688243242235,ETHBTC,0.06285000,0.06336000,0.06367000,0.06259000,23937.55470000,1510.62018426
1,24hrMiniTicker,1688243242636,BNBBTC,0.00806700,0.00790900,0.00813000,0.00787900,73892.67500000,591.07755044
2,24hrMiniTicker,1688243242870,BTCUSDT,30609.52000000,30483.98000000,30661.60000000,30320.57000000,19704.26494000,600805445.05986820
3,24hrMiniTicker,1688243242575,BNBUSDT,247.00000000,241.10000000,248.70000000,240.00000000,721618.18900000,176157266.41880000
4,24hrMiniTicker,1688243242850,QTUMUSDT,3.03100000,2.64400000,3.56700000,2.60100000,13491635.80000000,43085005.30090000
5,24hrMiniTicker,1688243242648,BTCTUSD,30643.68000000,30515.96000000,30699.10000000,30354.26000000,27731.65214000,846497834.53099220
6,24hrMiniTicker,1688243242940,ATOMUSDT,9.49400000,9.23400000,9.50000000,9.15500000,1223061.60000000,11449607.96050000
7,24hrMiniTicker,1688243242893,USDTTRY,26.71000000,26.89000000,26.95000000,26.65000000,33760570.00000000,904047178.31000000
8,24hrMiniTicker,1688243242560,ETHEUR,1766.93000000,1773.39000000,1784.97000000,1750.10000000,3980.38610000,7031122.94998900
9,24hrMiniTicker,1688243242235,BNBEUR,226.90000000,221.40000000,228.50000000,220.10000000,7773.82100000,1741445.96920000
10,24hrMiniTicker,1688243242096,EURUSDT,1.08880000,1.08920000,1.09130000,1.08800000,13512799.30000000,14717841.36441000
11,24hrMiniTicker,1688243242015,BNTUSDT,0.39000000,0.38990000,0.39220000,0.38290000,907318.40000000,352009.37440000
12,24hrMiniTicker,1688243242013,STPTUSDT,0.03945000,0.03826000,0.03970000,0.03808000,8321756.00000000,323738.82774300
13,24hrMiniTicker,1688243242646,SRMBUSD,0.12881000,0.14109000,0.14163000,0.11822000,53206711.40000000,6944721.20237500
14,24hrMiniTicker,1688243242905,INJUSDT,8.99600000,8.07900000,8.99900000,7.94000000,2554857.80000000,21691213.05740000
15,24hrMiniTicker,1688243242137,AKROUSDT,0.00526000,0.00535000,0.00535000,0.00516000,87593951.00000000,459622.05962000
16,24hrMiniTicker,1688243242372,AXSUSDT,6.42000000,5.93000000,6.74000000,5.87000000,3533459.96000000,22158926.32100000
17,24hrMiniTicker,1688243242864,PSGUSDT,3.33000000,3.29000000,3.36000000,3.27000000,98373.23000000,326826.70630000
18,24hrMiniTicker,1688243242675,RVNTRY,0.54720000,0.53450000,0.63840000,0.53000000,118418986.16000000,68235844.59559000
19,24hrMiniTicker,1688243242615,SLPUSDT,0.00173300,0.00169800,0.00176500,0.00168300,829230014.00000000,1430912.94539700
20,24hrMiniTicker,1688243242931,WOOBUSD,0.24910000,0.22590000,0.25610000,0.22390000,5687010.80000000,1388090.04622000
21,24hrMiniTicker,1688243242557,NEXOUSDT,0.63900000,0.64100000,0.64600000,0.62600000,898480.74000000,571209.61532000
22,24hrMiniTicker,1688243242764,ARBUSDT,1.14220000,1.15170000,1.17500000,1.13420000,44282058.10000000,51026789.21416000
23,24hrMiniTicker,1688243242935,SNTUSDT,0.02800000,0.02332000,0.02888000,0.02330000,111168398.00000000,2980206.60309000
24,24hrMiniTicker,1688243242433,MAVUSDT,0.42620000,0.43520000,0.45440000,0.39470000,57650333.00000000,24481277.94760000

In [8]:
df_ = pd.DataFrame(out)

In [16]:
df_ = df_[df_['s'].str.endswith('USDT')]  # only USDT pairs

In [17]:
final = df_[['s','E','c']]               # only symbol, time, close price

In [18]:
final

           s              E               c
2    BTCUSDT  1688243242870  30609.52000000
3    BNBUSDT  1688243242575    247.00000000
4   QTUMUSDT  1688243242850      3.03100000
6   ATOMUSDT  1688243242940      9.49400000
10   EURUSDT  1688243242096      1.08880000
11   BNTUSDT  1688243242015      0.39000000
12  STPTUSDT  1688243242013      0.03945000
14   INJUSDT  1688243242905      8.99600000
15  AKROUSDT  1688243242137      0.00526000
16   AXSUSDT  1688243242372      6.42000000
17   PSGUSDT  1688243242864      3.33000000
19   SLPUSDT  1688243242615      0.00173300
21  NEXOUSDT  1688243242557      0.63900000
22   ARBUSDT  1688243242764      1.14220000
23   SNTUSDT  1688243242935      0.02800000
24   MAVUSDT  1688243242433      0.42620000

In [19]:
# We'll create a table for every pair and store in the table "time" and "price" columns

for i in range(len(final)):
    r_ = final[i:i+1]

r_

          s              E           c
24  MAVUSDT  1688243242433  0.42620000

In [20]:
r_.c.astype(float)

24    0.4262
Name: c, dtype: float64

In [21]:
# function that imports data to the DB

def df_import(data):
    df_ = pd.DataFrame(data)
    df_ = df_[df_['s'].str.endswith('USDT')]  # only USDT pairs
    df_.c = df_.c.astype(float)               # close price to be float
    final = df_[['s','E','c']]                # only those columns from the dataframe
    
    # in the loop insert all to the DB, table name is row.s.values[0] 
    for i in range(len(final)):
        row_ = final[i:i+1]
        row_[['E','c']].to_sql(row_.s.values[0], engine, index=False, if_exists='append')