In [2]:
import numpy as np
import pandas as pd

In [3]:
### A Pandas Series is a one-dimensional array of indexed data:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
# "Series" as generalized NumPy array
# in "Series" indexes can be not only Integers but any other type, e.g., String

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
# non-contiguous or non-sequential indices:

data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [9]:
# Series is a structure which maps typed keys to a set of typed values
# Unlike a dictionary is a structure that maps arbitrary keys to a set of arbitrary values

population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [11]:
######      DataFrame    ###########

In [12]:
##   DataFrame as a generalized NumPy array     ######

area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [13]:
# creating a DataFrame from two aligned (having same index) Series objects:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [14]:
states.index  # index is the same as in Series

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [15]:
states.columns  # Additionally, the DataFrame has a columns attribute, 
                # which is an Index object holding the column labels

Index(['population', 'area'], dtype='object')

In [16]:
####     DataFrame as specialized dictionary      ######

In [17]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [18]:
# Constructing DataFrame object 

## from a single Series object:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [20]:
## From a list of dictionaries:
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [22]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]) # missing keys are filled with NaN

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [23]:
## From a dictionary of Series objects:
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [26]:
## From a two-dimensional NumPy array (can specify index and column names)
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.596324  0.233909
b  0.325695  0.156608
c  0.272308  0.968279

In [27]:
## From a NumPy structured array

In [28]:
# ----------   The Pandas Index Object    -----------
#
# The Index object can be thought of either as an immutable array 
# or as an ordered set (technically a multi-set, 
# as Index objects may contain repeated values)

In [32]:
# Index object as an immutable array
ind = pd.Index([2, 3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [33]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [34]:
ind[0] = 5

TypeError: Index does not support mutable operations

In [35]:
## Index as ordered set: supports intersection, union, etc.

indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [41]:
indA.intersection(indB) # intersection

Index([3, 5, 7], dtype='int64')

In [42]:
indA.union(indB) # union

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [44]:
indB.symmetric_difference(indA) # symmetric difference

Index([1, 2, 9, 11], dtype='int64')