In [39]:
#Importing required packages.
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC   # Support Vector Classifier
from sklearn import svm       # Support Vector Model

from sklearn.neural_network import MLPClassifier  # Multi Layer Percepetron

#from sklearn.linear_model import SGDClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import StandardScaler, LabelEncoder
            # for scaling the data, so that they have equal impact on learning,
            # e.g., some column has value 50-100, other column 0.001 - 0.012
            # We can scale them to close values
from sklearn.model_selection import train_test_split   
            # for splitting the data into "train" and "test" subsets
%matplotlib inline

In [22]:
#Loading dataset
wine = pd.read_csv('winequality-red.csv')

In [23]:
#Let's check how the data is distributed
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [24]:
#Information about the data columns
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1596 entries, 0 to 1595
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1596 non-null   float64
 1   volatile acidity      1596 non-null   float64
 2   citric acid           1596 non-null   float64
 3   residual sugar        1596 non-null   float64
 4   chlorides             1596 non-null   float64
 5   free sulfur dioxide   1596 non-null   float64
 6   total sulfur dioxide  1596 non-null   float64
 7   density               1596 non-null   float64
 8   pH                    1596 non-null   float64
 9   sulphates             1596 non-null   float64
 10  alcohol               1596 non-null   float64
 11  quality               1596 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 149.8 KB

In [25]:
#checking to see if there's any null variables
wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [26]:
#Preprocessing Data
bins = (2, 6.5, 8)
group_names = ['bad', 'good']
wine['quality'] = pd.cut(wine['quality'], bins = bins, labels = group_names)
wine['quality'].unique()

['bad', 'good']
Categories (2, object): ['bad' < 'good']

In [27]:
label_quality = LabelEncoder()

In [28]:
wine['quality'] = label_quality.fit_transform(wine['quality'])

In [29]:
wine.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,0
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,0
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,1
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,1
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,0

In [30]:
wine['quality'].value_counts()

quality
0    1379
1     217
Name: count, dtype: int64

In [31]:
# sns.countplot(wine['quality'])

In [32]:
#Now seperate the dataset as response variable and feature variabes
X = wine.drop('quality', axis = 1)
y = wine['quality']

In [33]:
#Train and Test splitting of data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [34]:
#Applying Standard scaling to get optimized result

sc = StandardScaler()

In [35]:
X_train = sc.fit_transform(X_train)       # scaling the data to [-1;1] scale
X_test = sc.transform(X_test)

# Random Forest Classifier

In [ ]:
# Random Forest Classifiers  are good on mid size data

In [40]:
rfc = RandomForestClassifier(n_estimators=200)
rfc.fit(X_train, y_train)          # training the model
pred_rfc = rfc.predict(X_test)     # using the model

In [43]:
#Let's see how our model performed  - the precision of the model
print(classification_report(y_test, pred_rfc))

              precision    recall  f1-score   support

           0       0.92      0.99      0.95       277
           1       0.83      0.47      0.60        43

    accuracy                           0.92       320
   macro avg       0.88      0.73      0.77       320
weighted avg       0.91      0.92      0.91       320

In [44]:
#Confusion matrix for the random forest classification
print(confusion_matrix(y_test, pred_rfc))

# we can see, that the model is GOOD at predicting bad wine (273 correct vs 4 wrong),
# but the model is BAD at predicting good wine (23 vs 20)

[[273   4]
 [ 23  20]]

In [46]:
# Random forest gives the accuracy of 91%

from sklearn.metrics import accuracy_score
cm = accuracy_score(y_test, pred_rfc)

cm

0.915625

# SVM Classifier

In [ ]:
# SVM Classifiers are good on small amount of data

In [47]:
clf = svm.SVC()
clf.fit(X_train, y_train)
pred_clf = clf.predict(X_test)

In [48]:
#Let's see how our model performed  - the precision of the model
print(classification_report(y_test, pred_clf))
#Confusion matrix
print(confusion_matrix(y_test, pred_clf))

              precision    recall  f1-score   support

           0       0.89      0.98      0.94       277
           1       0.69      0.26      0.37        43

    accuracy                           0.88       320
   macro avg       0.79      0.62      0.65       320
weighted avg       0.87      0.88      0.86       320

[[272   5]
 [ 32  11]]

# Neural Network

In [49]:
# Good for Deep Learning
# Neural Networks are good for huge amount of data
# It also REQUERES a lot of data

# For example, can be good for 
# - Stock market (crypto market) data
# - pictures processing
# - tweets processing

In [58]:
mlpc = MLPClassifier(hidden_layer_sizes=(11,11,11), max_iter=500)
mlpc.fit(X_train, y_train)
pred_mlpc = mlpc.predict(X_test)

/home/serguz/anaconda3/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

In [59]:
#Let's see how our model performed  - the precision of the model
print(classification_report(y_test, pred_mlpc))
#Confusion matrix
print(confusion_matrix(y_test, pred_mlpc))

              precision    recall  f1-score   support

           0       0.92      0.95      0.93       277
           1       0.58      0.44      0.50        43

    accuracy                           0.88       320
   macro avg       0.75      0.70      0.72       320
weighted avg       0.87      0.88      0.87       320

[[263  14]
 [ 24  19]]

In [60]:
cm = accuracy_score(y_test, pred_mlpc)
cm

0.88125

# Checking for a sample

In [62]:
wine.head(9)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,0
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,0
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,1
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,1

In [63]:
Xnew = [[7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4]]
Xnew = sc.transform(Xnew)
ynew = rfc.predict(Xnew)

/home/serguz/anaconda3/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [64]:
print('The quality of wine with given parameters is:') 
print(ynew)

The quality of wine with given parameters is:
[0]